/*  hamburger */
#nav-button {
  position: absolute;
  background-color: transparent;
  right: 0%;
  z-index: 1;
  border: none;
  margin: 0px 20px;
  outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}
.nav-ham.active {
  transform: rotate(45deg);
}
.nav-ham-line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(255, 255, 255);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.nav-ham .top {
  stroke-dasharray: 40 139;
}
.nav-ham .bottom {
  stroke-dasharray: 40 180;
}
.nav-ham.active .top {
  stroke-dashoffset: -98px;
}
.nav-ham.active .bottom {
  stroke-dashoffset: -138px;
}

/* nav media */
@media only screen and (max-width: 900px) {
  .nav-ham {
    display: block;
  }
  .nav-list {
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    top: 100%;
    height: 100vh;
    right: -30%;
    width: 0%;
    flex-direction: column;
    transition: all 0.6s ease-in;
    padding-top: 10%;
  }

  .nav-list > li {
    position: relative;
    left: 5%;
    padding: 10px;
    border: solid transparent 1px;
    transition: all 0.6s ease-in;
    width: 54%;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .nav-list > li:hover {
    width: 60%;
  }
}
