@media only screen and (max-width: 600px) {

    .logo{
       font-size: 20px !important;
       letter-spacing: 2px;
    }
    .nav-link{
        font-size:5px !important ;
    }

    .home-page-text{
        font-size: 60px;
    }
    .fancy-button{
        margin-top: 10px;
        margin-bottom: 25px;
    }

    /* THINK SECTION */

    .pg2-content{
        display: flex;
        flex-direction: column;
        padding: 7px;
    }
    .pg2-think , .pg2-create , .pg2-engineer{
        text-align: center;
        margin: 5px;
        padding: 0px;
    }
    .pg2-c-h > h1{
        padding: 0px 7px;
        text-align: center;
    }
    .pg2-think-content , .pg2-create-content , .pg2-engineer-content{
        text-align: left;
    }
    .pg2-line{
        transform: rotate(90deg);
    }



}