
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #141414;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.engineer-logo {
    font-family: engineer;
    letter-spacing: 2px;
}