/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: url('../../images/team/bg_img4.png') no-repeat center center fixed;
  /* background: url(./bg.png) no-repeat center center fixed; */
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: #333333;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
  color: #454545;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 700;
  font: poppins;
}

h1 {
  margin-top: 100px;
  font-weight: 900;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

img {
  width: 100%;
  height: auto;
}

/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .column {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .column {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.section-title {
  width: 100%;
  text-align: center;
  padding: 45px 0 30px 0;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 5px;
  left: calc(50% - 25px);
  background: #fff;
}

.section-title h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {
  .section-title h1 {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media (max-width: 567.98px) {
  .section-title h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
/**********************************/
/********* Team  Style **********/
/**********************************/
.team {
  margin: 0 auto;
  margin-bottom: 30px;

  height: 350px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  bottom: 0;
  border-radius: 8px;
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  padding-top: 2px;
}

.team .team-img {
  position: relative;
  font-size: 0;
  align-self: center;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 30px;
  overflow: hidden;

  height: 140px;
  width: 140px;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  margin: 30px auto 20px auto;
}

.team .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 0px solid rgba(255, 255, 255, 0.02);
  transition: all 0.3s;
}

.team:hover .team-img img {
  border: 8px solid rgba(255, 255, 255, 0.06);
}
.team .team-content {
  text-align: center;
}

.team .team-content h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team .team-content h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.team .team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}

.team .team-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 12px 0 10px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  transition: all 0.3s;
}
.team .team-social a:hover {
  background: rgba(255, 255, 255, 0.06);
}
