.social-icon a i {
    font-size: 25px;
    padding: 0 5px;
}



.social-icon a i:hover {
    opacity: 0.5;
}
// #800080
// #6F04D9


.link_hover:hover {
    border-bottom: 1px solid #C004D9;
    color: #fff;
}