@font-face {
  font-family: 'Delirium';
  src: local('Delirium'), url(./fonts/DeliriumNcv-Vm5e.ttf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Mona';
  src: local('Mona'), url(./fonts/mona/MonaSans-Bold.ttf) format('opentype'), url(./fonts/mona/MonaSans-Medium.ttf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.splide__slide {
  display: flex;
  align-items: center;
}

a {
  text-decoration: unset;
  color: unset;
}

.appear-enter {
  opacity: 0;
  transform: translateY(-15px);
}
.appear-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms;
}

.appear-exit {
  opacity: 1;
  transform: translateY(0);
}
.appear-exit-active {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 300ms;
}

.hidden {
  overflow: hidden;
}

.calendaly_button {
  /* iOS button appearance */
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff; /* iOS blue color */
  color: #ffffff; /* White text color */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.calendaly_button:hover {
  background-color: #0056b3; /* Darker shade of iOS blue on hover */
}

.calendaly_button:focus {
  outline: none;
}

@keyframes shineEffect {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


/*GLITCH EFFECT*/

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Delirium';
}

.glitch {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}
